

#intro {
	background: url('../img/bg.jpg') no-repeat center center fixed;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#intro-wrapper {
	width: 800px;
	margin: 0 auto;
}

#intro-list {
	margin-top: 60%;
	height: 150px
}


#intro li {
	float: left;
	width: 100px;
	height: 100px;
	background-color: #fff;
	text-align: center;
	font-size: 80px;
	font-family: 'Chango', cursive;
	font-style: normal;
	font-weight: 400;
	color: #000;
	position: relative;
}

#intro ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 800px;
	height: 100px;
}

.letters {
	position: absolute;
	top: 4px;
	left: 16px;
	z-index: 2;
}

#nav {
	position: absolute;
	width: 100%;
	background-color: #fff;
	text-align: center;
	height: 75px;
	bottom: 0px;
	left: 0px;
	border-bottom: 1px dashed #ccc;
	border-top: 1px dashed #ccc;
}


